<template>
  <div class="hello">
    <h1>{{msg}}</h1>

<v-container>
      <v-layout row wrap>
        <v-flex xs12 lg5 mb-3>
          <v-expansion-panel popout>
            <v-expansion-panel-content
              v-for="(character,i) in characters"
              :key="i"
            >
              <div slot="header">{{character.name}}</div>
              <v-card>
                <v-card-text>
                  <ol>
                    <li>height : {{character.height}}</li>
                    <li>mass : {{character.mass}}</li>
                  </ol>
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>
  

      </v-layout>
    </v-container>



      
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data() {
    return {
      characters: []
    };
  },
  created() {
    axios
      .get("https://swapi.co/api/people")
      .then(response => response.data)
      .then(response => (this.characters = response.results));
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
